<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="app-body">
        <div class="layout">
            <div>
                <header class="header">
                    <a href="{{ path('app_main') }}">
                        <img class="logo" src="{{ asset('images/starshop-logo.png') }}" alt="starshop logo">
                    </a>
                    <nav class="nav">
                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#">Contact</a>
                        <a class="btn-get-started" href="#">Get Started</a>
                    </nav>
                </header>
                {% block body %}{% endblock %}
            </div>
            <div class="footer">
                Made with ❤️ by
                <a class="footer-link" href="https://symfonycasts.com">SymfonyCasts</a>
            </div>
        </div>
    </body>
</html>
